/* Configuracion General */
* {
    padding: 0px;
    margin: 0px;
}
body {
    overflow-x: hidden;
}
div > .col,
div > .col-md,
div > .col-lg {
    padding: 0px;
    margin: 0px;
}
.bg-deepBlue {
    background-color: #221C43;
}
.bg-cherryRed {
    background-color: #C0282E;
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-grey {
    background-color: #3C3c3B;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("assets/logo.svg");
  scale: calc(1.5);
}


/* -------------------- */
/* IMAGEN MATSURI */
.imgMatsuri {
    background-image: url("https://i.ytimg.com/vi/iXxLi1SusGM/maxresdefault.jpg");
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
@media (min-width: 576px) {
    .imgMatsuri {
        height: 70vh;
    }
}
@media (max-width: 768px) {
    .imgMatsuri {
        height: 60vh;
    }
}
@media (max-width: 992px) {
    .imgMatsuri {
        height: 50vh;
    }
}
@media (max-width: 1200px) {
    .imgMatsuri {
        height: 40vh;
    }
}@media (max-width: 1400px) {
    .imgMatsuri {
        height: 40vh;
    }
}


/* -------------- */
/* SPONSORS */
.slider {
    overflow: hidden;
}
.slider-track {
    display: flex;
    width: max-content;
    width: calc(200px * 11);
    animation: scroll 20s linear infinite;
}
.slider-track > img {
    width: 150px;
    height: auto;
    margin-left: 40px;
    object-fit: contain;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    } 
    100% {
        transform: translateX(-95%);
    }
}
.sponsor-img {
    height: 160px;
}
/* -------- */